body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
#__next {
  height: 100vh;
  width: 100vw;
}
.main {
  display: flex;
  height: 100%;
}
.content {
  flex: 7;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  cursor: inherit;
}

.drag {
  position: absolute;
  z-index: 9;
  cursor: crosshair;
}
.drag:hover {
  filter: invert(100%);
}


