@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap");
body {
  font-family: "Orbitron", sans-serif;
  font-style: italic;
  font-weight: 700;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;

  // overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
#__next {
  background-color: #5c5c5c;
}
canvas {
  overflow: hidden;
}
.main {
  height: 100%;
}
.content {
  flex: 7;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  cursor: inherit;
  text-decoration: none;
}

.drag {
  position: absolute;
  z-index: 9;
  cursor: crosshair;
}
.drag:hover {
  filter: invert(100%);
}

.images-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  li {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: white;
    list-style: none;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.imgContainer {
  position: absolute;
}

.tooltip span {
  display: none;
}
.tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}

.ambivalence {
  margin: 5px;
  height: 97vh;
  text-align: right;
  position: relative;
}

.collection {
  width: 101%;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 320px;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease-out;
}

.ambImageHover {
  max-height: 1900px;
  max-width: 1900px;
  transition: all 0.5s ease-out;
}

.hover {
  background-color: black;
  overflow: hidden;
  height: 101vh;
  transition: all 0.5s ease-out;
  .images {
    width: 100vw;
  }
  .ambImage {
    max-height: 100vh;
    max-width: 2000px;
    transition: all 0.5s ease-out;
  }
  .miscibleImage {
    min-height: 102vh;
    max-width: 6000px;
    transition: all 0.5s ease-out;
  }
  .gif {
    max-height: 18.5vh;
    max-width: 18.5vh;
    right: 54.5%;
    top: 1.9%;
    transition: all 0.5s ease-out;
  }
  .gif2 {
    max-height: 18.5vh;
    max-width: 18.5vh;
    top: 2.1%;
    right: 80.5%;
    transition: all 0.5s ease-out;
  }
}
.ambImage {
  max-height: 380px;
  max-width: 380px;
  transition: all 0.5s ease-out;
}
.miscibleImage {
  max-height: 920px;
  max-width: 920px;
  transition: all 0.5s ease-out;
}

.imgGif {
  position: relative;
}

.gif {
  max-height: 45px;
  max-width: 45px;
  position: absolute;
  right: 32.5%;
  top: 1.5%;
  transition: all 0.5s ease-out;
}
.gif2 {
  max-height: 45px;
  max-width: 45px;
  position: absolute;
  top: 1.5%;
  right: 81.5%;
  transition: all 0.5s ease-out;
}

.clickMe {
  position: absolute;
  bottom: 310px;
  font-size: 45px;
}
.closeMe {
  position: fixed;
  top: 0;
  right: 20px;
  font-size: 45px;
  z-index: 10;
}

.images {
  display: flex;
}

.dot{
  margin:50px;
}

.content {
  font-size: 35px;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0;
  transition: opacity .05s ease-in;
  pointer-events: none;
}
.visible{
  opacity:1;
}

.content h1,
.content p {
  margin: 0;
}

.dot:hover + .content {
  opacity: 1;
}

.specificLocation {
  margin-left: 100px;
}
