.container {
  padding: 0 10px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.rightSide {
  display: flex;
  .menuItem {
    margin-left: 2rem;
  }
}
.menuItem {
  margin-bottom: 0.5rem;
  a {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
}
.menuItem:hover {
  color: #0c0;
  cursor: crosshair;
}
